html,body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: var(--background-color);
    transition: background-color 0.3s, color 0.3s;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><circle cx="6" cy="6" r="6" fill="%23e3142d"/></svg>') 6 6, auto;    
  }

a, button {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><circle cx="6" cy="6" r="5" stroke="%236F4840" stroke-width="2" fill="none"/><line x1="6" y1="2" x2="6" y2="10" stroke="%236F4840" stroke-width="2"/><line x1="2" y1="6" x2="10" y2="6" stroke="%236F4840" stroke-width="2"/></svg>') 6 6, auto;
}

.hover {
  background-color: #28a745;
}

:root {
    --background-color: #FCF4F0; 
    --background-color-three: #b891832f;
    --background-color-two: #b891833a;
    --text-color: #A6483E;
    --text-color-secondary: #5F2321;
    --text-color-extra: #6F4840;
    --text-color-norm: #7D746F;
    --sidebar-color: #a6483e86;
    --sidebar-hover:#a6483ed1;
    --progress-bar: rgb(67, 67, 237);
    --footer-color: var(--background-color-three);
}

.bar_one{
  height: 10vh;
  position: relative;
  background-color: var(--background-color);

}

hr{
  margin: 0 auto;
  padding: 0;
  width: 80vw;
  height: 0.8px;
  background-color: var(--text-color-extra);
}

.space_afterquz{
    height: 8vh;
}

#section3 {
    background-color: var(--background-color);
    margin-bottom: 10vh;
    overflow:visible;
    /* margin-top: 5vh; */
}

#section4 {
  overflow: hidden;
}

.header {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    background-color: var(--background-color);
  }
  
  .progress-container {
    width: 100%;
    height: 8px;
    background: var(--background-color);
  }
  
  .progress-bar {
    height: 8px;
    background: var(--progress-bar);
    width: 0%;
  }

section{
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

.image-container {
    background-image: url('./images/hero.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh; 
    z-index: 1;  
}

.image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: -1;  
}

.hero_section{
    height: 100vh;
}

/* .txt{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    position: relative;
} */

.txt h1{
    position: absolute;
    top: 25vh;
    left: 10vw;
    text-decoration: none;
    font-weight: lighter;
    font-size: 8em;
    color: var(--text-color-secondary);
    margin: 0px;
    opacity:0;
    font-family: "PT Serif", serif;
    font-weight: 100;
    font-style: italic;
    transform: translateX(100px);
    transition: transform 0.5s, opacity 0.3s ease-out;
}

#main_head{
  position: absolute;
  top: 22vh;
  left: 12vw;
  text-decoration: none;
  font-weight: lighter;
  font-size: 8em;
  color: var(--text-color-secondary);
  margin: 0px;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

#main_head2{
  position: absolute;
  top: 50vh;
  left: 15vw;
  text-decoration: none;
  font-weight: lighter;
  font-size: 5em;
  color: var(--text-color-secondary);
  margin: 0px;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


#para_ani1{
    position: absolute;
    top: 45vh;
    left: 20vw;
    font-size: 2.6em;
    color: var(--background-color);
    margin: 0;
    padding: 0;
}

#life {
    position: absolute;
    font-size: 2.6em;
    color: var(--background-color);
    top: 62vh;
    left: 48vw;
}

.quiz_shit span {
  font-family: 'MyFont';
  font-weight: lighter;
  font-size: 0.9em;
}

.txt2{
    border: 1px solid red;
}

img {
    filter: brightness(50%);
}

.life {
    margin: 0;
}
  

/* quiz part

*/

.quiz_shit{
    padding: 50px;
    position: relative;
}

.quiz_info{
  position: absolute;
  height: 60vh;
  width: 50vw;
  background-color: var(--background-color-three);
  top: 30vh;
  left: 80vw;
  text-wrap: wrap;
}

.quiz_info h1{
  font-size: 2em;
  position: absolute;
  top: 0;
  left: 2vw;
  color: var(--text-color);
  font-family: "Montserrat";
  font-weight: 400;
}

.quiz_info p{
  position: absolute;
  max-width: 15vw;
  font-size: 1.6em;
  top: 10vh;
  left: 2vw;
  color: var(--text-color-extra);
}

.quiz-container {
    position: absolute;
    left: 10vw;
    top: 30vh;
    width: 100%;
    max-width: 60vw;
    height: 80vh;
    margin: 50px;
    padding: 20px;
    background-color: var(--background-color-two);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-out;

}

.quiz-container h2 {
    margin-bottom: 20px;
    font-size: 4em;
    font-family: "Montserrat", sans-serif;
    /* font-optical-sizing: auto; */
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
}

#question{
    font-size: 3em;
    padding-bottom: 20px;
    color: var(--text-color-extra);
}

#quiz {
    color: var(--secondary-color);
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--text-color-extra);
}

.option {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--background-color);
    color: var(--primary-color);
    font-size: 1rem;
}

/* .option :hover {
    background-color: #090909; 
} */

#next-btn {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    font-size: 1rem;
    display: none;
}

#next-btn:hover {
    background-color: #218838;
}

#result {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #C8ACD6;
}

/* hoverable sidebar
        part */

#Sidebar a {
    position: fixed; 
    left: -70px; 
    transition: 0.3s; 
    padding: 15px; 
    width: 100px; 
    text-decoration: none; 
    font-size: 20px; 
    color: white; 
    border-radius: 0 15px 15px 0; 
    margin-top: 10vh;
    z-index: 2;
    display: flex;
    justify-content: space-between;
  }
  
  #Sidebar a:hover {
    left: 0; 
    background-color: var(--sidebar-hover);
  }
  
  #Sidebar a img {
    fill:white;
    z-index: 3;
  }

  #home {
    top: 20px;
    background-color: var(--sidebar-color);
    border: 2px solid var(--primary-color);
  }
  
  #quiz_tab {
    top: 90px;
    background-color: var(--sidebar-color); 
    border: 2px solid var(--primary-color);

  }
  
  #slides_v {
    top: 160px;
    background-color: var(--sidebar-color); 
    border: 2px solid var(--primary-color);

  }

  #anon_txt{
    top: 230px;
    background-color: var(--sidebar-color); 
    border: 2px solid var(--primary-color);
  }


/* --slide show part--  */
/* very hard unable to do i cry */


.slideshow {
    position: relative;
}

.title_slide{
    position: absolute;
    top:1.5vh;
    left:39vw;
    font-size: 4em;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
}

.slide-container {
    position: absolute;
    top: 20vh;
    left: 45vw;
    width: 40vw;
    padding: 20px;
    background-color: var(--background-color-two);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    transition: transform 0.3s ease-out;
}

.slide-container img{
    filter: brightness(80%);
    width: 100%;
    border-radius: 10px;
}

.slide-container .column img{
  border-radius: 0;
}
  
  .Slides {
    display: none;
    width: 100%;
  }
  
  .prev,
  .next {
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: var(--background-color);
    font-weight: bold;
    font-size: 40px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  .topright{
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 2;
    font-size: 4em;
    color: var(gray);
  }

  .topright:hover{
    color: #1877F2;
  }

  .next {
    right: 1.5vw;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 1.4em;
    padding: 8px 12px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    position: absolute;
    top: 3vh;
    right: 1.8vw;
    z-index: 1;
  }
  
  .caption-container {
    text-align: center;
    background-color: var(--background-color-two);
    padding: 2px 16px;
    color: var(--text-color-secondary);

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column {
    float: left;
    width: 16.66%;
  }
  
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }


  /* anonymous message part */


.anonymous-messages {
    position: absolute;
    left: 23vw;
    top: 70vh;
    max-width: 600px;
    min-width: 50vw;
    margin: auto;
    padding: 20px;
    background-color: var(--background-color-three);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-out;
}

.anonymous-messages h2, h3 {
    color: var(--text-color-extra);
}

.last h1 {
  position: absolute;
  left:40vw;
  top:10vh;
  font-size: 4em;
  color: var(--text-color-extra);

  font-family: "Edu VIC WA NT Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

form {
    margin-bottom: 20px;
}

textarea {
    width: 95%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.anonymous-messages button {
    padding: 10px 20px;
    background-color: var(--sidebar-color);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.anonymous-messages button:hover {
    background-color: #2980b9;  
}

#messagesContainer {
    margin-top: 20px;
    padding: 10px;
    background-color: #ecf0f1;
    border-radius: 6px;
}

.message {
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}


/* footer part
 */

 footer {
  text-align: center;
  padding: 20px;
  background-color: var(--footer-color);
  color: #fff;
  position: relative;
  overflow: hidden;
}

.social-icons {
  margin: 20px 0;
}

.social-icons .icon {
  display: inline-block;
  margin: 0 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background-color: #444;
  color: #fff;
  font-size: 24px;
  text-align: center;
}


.social-icons .icon.github {
  background-color: #090909;
}
.social-icons .icon.instagram {
  background-color: #e4398c;
}
.social-icons .icon.twitter {
  background-color: #1DA1F2;
}
.social-icons .icon.facebook {
  background-color: #1877F2;
}



.social-icons .icon:hover {
  background-color: #555;
}

.social-icons .icon i {
  vertical-align: middle;
}

.fa-instagram{
  margin-bottom: 2px;
}

footer{
  position: relative;
}

footer .footer_con {
  position: absolute;
  border-radius: 20px 20px 0 0;
  border: 2px solid var(--sidebar-color);
  border-bottom-color: var(--footer-color);
  top:3vh;
  left: 2vw;
  height: 19vh;
  width: 95vw;
}

footer p{
  color: #090909;
}


/* animation containers  */

.slide_box_ani {
  height: 40vh;
  width: 40vh;
  position: absolute;
  background-color: #3ab4a4;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  top: 60vh;
  left: 20vw;
  transition: transform 0.3s ease-out;
}

#section3 .bar {
  height: 1vh;
  width: 25vh;
  position: absolute;
  background-color: #293d49;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  top: 160vh;
  left: 15vw;
  transition: transform 0.35s ease-out;
}

/* //aniate the icons
 */


.icon {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1s ease, transform 1s ease;
}

.icon.visible {
  opacity: 1; 
  transform: translateX(0); 
}

/* complete overlay on 
website which
opens on click */

.splash{
  position : fixed;
  top : 50%;
  left : 50%;
  height : 100vh;
  width : 100vw;
  transform : translate(-50%,-50%);    
  background-color: var(--background-color);
  transition : all ease-in-out 600ms;
  z-index: 3;
}

.splash-header {
  height : 90%;
  color : var(--text-color);
  font-family : "consolas";
  font-size : 4em;
  display : flex;
  justify-content: center;
  align-items : center;
}

.splash p {
  position: absolute;
  top: -4vh;
  left: 1vw;
  height : 10%;
  color : var(--text-color);
  font-family : "consolas";
  font-size : 2em;
  /* display : flex;
  justify-content: center;
  align-items : center; */
}

.splash .b{
  top: 1vh;
}

.splash .c{
  top: 70vh;
  left: 10vw;
}

/* dark mode */


.switch {
    display: inline-block;
    position: relative;
    left:85vw;
    top: 5vh;
}

.switch__input {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.switch__label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    background-color: #2B2B2B;
    border: 5px solid #5B5B5B;
    border-radius: 9999px;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(.46,.03,.52,.96);
}

.switch__indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateX(-72%);
    display: block;
    width: 30px;
    height: 30px;
    background-color: #7B7B7B;
    border-radius: 9999px;
    box-shadow: 10px 0px 0 0 rgba(#000000, 0.2) inset;

    &::before,
    &::after {
        position: absolute;
        content: '';
        display: block;
        background-color: #FFFFFF;
        border-radius: 9999px;
    }

    &::before {
        top: 7px;
        left: 7px;
        width: 9px;
        height: 9px;
        background-color: #FFFFFF;
        opacity: 0.6;
    }

    &::after {
        bottom: 8px;
        right: 6px;
        width: 14px;
        height: 14px;
        background-color: #FFFFFF;
        opacity: 0.8;
    }
}

.switch__decoration {
    position: absolute;
    top: 65%;
    left: 50%;
    display: block;
    width: 5px;
    height: 5px;
    background-color: #FFFFFF;
    border-radius: 9999px;
    animation: twinkle 0.8s infinite -0.6s;

    &::before,
    &::after {
        position: absolute;
        display: block;
        content: '';
        width: 5px;
        height: 5px;
        background-color: #FFFFFF;
        border-radius: 9999px;
    }

    &::before {
        top: -20px;
        left: 10px;
        opacity: 1;
        animation: twinkle 0.6s infinite;
    }

    &::after {
        top: -7px;
        left: 30px;
        animation: twinkle 0.6s infinite -0.2s;
    }
}

@keyframes twinkle {
    50% { opacity: 0.2; }
}

.switch__indicator {
    &,
    &::before,
    &::after {
        transition: all 0.4s cubic-bezier(.46,.03,.52,.96);
    }
}

.switch__input:checked + .switch__label {
    background-color: #8FB5F5;
    border-color: #347CF8;

    .switch__indicator {
        background-color: #ECD21F;
        box-shadow: none;
        transform: translate(-50%, -50%) translateX(72%);

        &::before,
        &::after {
            display: none;
        }
    }

    .switch__decoration {
        top: 50%;
        transform: translate(0%, -50%);
        animation: cloud 8s linear infinite;

        width: 20px;
        height: 20px;

        &::before {
            width: 10px;
            height: 10px;
            top: auto;
            bottom: 0;
            left: -8px;
            animation: none;
        }

        &::after {
            width: 15px;
            height: 15px;
            top: auto;
            bottom: 0;
            left: 16px;
            animation: none;
        }

        &,
        &::before,
        &::after {
            border-radius: 9999px 9999px 0 0;
        }

        &::after {
            border-bottom-right-radius: 9999px;
        }
    }
}

@keyframes cloud {
    0% {
        transform: translate(0%, -50%);
    }
    50% {
        transform: translate(-50%, -50%);
    }
    100% {
        transform: translate(0%, -50%);
    }
}
