html,body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #829cba;
    --secondary-color: #efe9e8;
    --secondar-dark: #6e7976;
    --text-color: #000000;
    --primary-two: #637589;
    --primary-dark: #46586c;
    --primary-light: #548e6c;
}



#section3 {
    background-color: var(--primary-dark);
}

.header {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    background-color: var(--primary-color);
  }
  
  .progress-container {
    width: 100%;
    height: 8px;
    background: var(--primary-two);
  }
  
  .progress-bar {
    height: 8px;
    background: var(--secondary-color);
    width: 0%;
  }

section{
    height: 100vh;
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
}

.image-container {
    background-image: url('./images/hero.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh; 
    z-index: 1;  
}

.image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Overlay color (black with 50% opacity) */
    z-index: -1;  
}

.hero_section{
    height: 100vh;
}

.txt{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    position: relative;
}

.txt h1{
    position: absolute;
    left: 10vw;
    text-decoration: none;
    font-weight: lighter;
    font-size: 8em;
    font-family: jost, sans-serif;
    color: var(--primary-two);
    margin: 0px;
}

.txt p{
    position: absolute;
    left: 10vw;
    font-size: 4em;
    color: white;
    margin: 0;
}

.life {
    top: 80vh;
}

.txt2{
    border: 1px solid red;
}

img {
    filter: brightness(50%);
}

.life {
    margin: 0;
}
  

/* quiz part

*/

.quiz_shit{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-container {
    width: 100%;
    max-width: 60vw;
    height: 80vh;
    margin: 50px;
    padding: 20px;
    background-color: var(--primary-two);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

}

.quiz-container h2 {
    margin-bottom: 20px;
    font-size: 4em;
}

#question{
    font-size: 3em;
    padding-bottom: 20px;
}

#quiz {
    color: var(--secondary-color);
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
    font-size: 1rem;
}

.option :hover {
    background-color: #090909;
}

#next-btn {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    display: none;
}

#next-btn:hover {
    background-color: #218838;
}

#result {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #C8ACD6;
}

/* hoverable 
    sidebar 
        part */

/* Style the links inside the sidenav */


#mySidenav a {
    position: fixed; /* Position them relative to the browser window */
    left: -80px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 100px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
    margin-top: 10vh;
    z-index: 2;
    display: flex;
    justify-content: space-between;
  }
  
  #mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
  }
  
  /* The about link: 20px from the top with a green background */
  #home {
    top: 20px;
    background-color: var(--primary-two);
    border: 2px solid var(--primary-color);
  }
  
  #blog {
    top: 90px;
    background-color: var(--primary-two); /* Blue */
    border: 2px solid var(--primary-color);

  }
  
  #projects {
    top: 160px;
    background-color: var(--primary-two); /* Red */
    border: 2px solid var(--primary-color);

  }
  
  #contact {
    top: 200px;
    background-color: var(--primary-two); /* Light Black */
  }


/* --slide show part--  */
/* very hard unable to do i cry */


.slideshow {
    position: relative;
}

.title_slide{
    position: absolute;
    top:2vh;
    left:37.5vw;
    font-size: 4em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    color: var(--primary-color);
}

/* Position the image container (needed to position the left and right arrows) */
.slide-container {
    position: absolute;
    top: 15%;
    left: 30%;
    width: 40vw;
    border: 6px solid var(--secondary-color);
    background-color: var(--secondary-color);
    /* border-bottom: 0; */
    border-radius: 10px;
}

.slide-container img{
    width: 100%;
    border-radius: 5px;
}
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    width: 100%;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 40px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  .topright{
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 2;
    font-size: 4em;
    color: var(--primary-two);
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: var(--secondary-color);
    padding: 2px 16px;
    color: var(--primary-dark);
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }